<div class="container">
    <h1>Detalles del cliente</h1>
   
    <a href="#" routerLink="/clients/index" class="btn btn-primary">Regresar</a>
    
    <div>
        <strong>ID:</strong>
        <p>{{ cliente.id_cliente }}</p>
    </div>
    
    <div>
        <strong>Nombre:</strong>
        <p>{{ cliente.nombre }}</p>
    </div>
    
    <div>
        <strong>Descripcion:</strong>
        <p>{{ cliente.correo }}</p>
    </div>

    <div>
        <strong>Codigo:</strong>
        <p>{{ cliente.telefono }}</p>
    </div>
    
</div>